set timeout=5
set default=0
set gfxmode=auto
set gfxpayload=keep

menuentry "Run Orange Tea OS" {

    echo "Orange Tea OS"
    echo "-------------"
    echo "Bare Metal Tea."
    sleep 2

    echo " "
    echo "/ It's also in your kitchen. "
    sleep2

    echo " "
    echo "- No Linux detected, We are good."
    sleep 2

    echo " "
    echo "\ Windows called, we didn't answer."
    sleep 2

    echo " "
    echo "[OK] Initializing tea..."
    
    sleep 1

    echo "[Jokes] Continue and don't spill tea on PC"
    echo "it will not create ORTOS (i tried it)"
    sleep 2


    multiboot2 /boot/kernel.bin
    boot
}